{%extends 'account/base.html'%}
{%block content %}
<div class="container d-flex justify-content-center">
    <div class="card"  style="width: 23rem; margin-top:8rem;">
        <div class="icone" style="text-align: center; margin-top:10px;">
            <i class="bi bi-email-fill"></i>
        </div>
        <div class="card-body">
            <form action="" method="post">
                {% if messages %}
                    {% for message in messages %}
                        <p class="alert alert-success">{{ message }}<p>
                    {% endfor %}
                {%endif%}
                {% if form.errors %}
                    {% for error in form.non_field_errors %}
                        <p class="alert alert-danger">{{ error }}<p>
                    {% endfor %}
                    {%for error in form.errros%}
                        <p class="alert alert-danger">{{ error }}<p>
                    {%endfor%}
                {%endif%}
                {%csrf_token%}
                <div class="email m-2">
                    {{form.email.label_tag}}
                    {{form.email}}
                </div>
                <hr class="border border-primary border-1 opacity-50" style="width: 30%; margin:15px auto;">
                <div class="forgot-password mx-3 row">
                    <button type="submit" href="{%url 'forgot_password'%}" class="btn btn-outline-primary"> Rechercher</button>
                </div>
            </form>
        </div>
    </div>
</div>

{%endblock%}