{%extends 'account/base.html'%}

{%block content%}
 {% if messages %}
        {% for message in messages %}
            <p class="alert alert-success">{{ message }}<p>
        {% endfor %}
    {%endif%}

<div class="container d-flex justify-content-center">
    <div class="card"  style="width: 20rem; margin-top:8rem;">
        <div class="icone" style="text-align: center; margin-top:10px;">
            <i class="bi bi-person-fill"></i>
        </div>
        <div class="card-body">
            <form action="" method="post">
                {% if form.errors %}
                    {% for error in form.non_field_errors %}
                        <p class="alert alert-danger">{{ error }}<p>
                    {% endfor %}
                    {%for error in form.errros%}
                        <p class="alert alert-danger">{{ error }}<p>
                    {%endfor%}
                {%endif%}
                {%csrf_token%}
                <div class="password1 m-2">
                    {{form.password1.label_tag}}
                    {{form.password1}}
                </div>
                <div class="password2 m-2"></div>
                    {{form.password2.label_tag}}
                    {{form.password2}}
                </div>
                <div class="forgot-password mx-3 row">
                    <button type="submit" class="btn btn-outline-primary my-2"> sauvegarder</button>
                </div>
            </form>
        </div>
    </div>
</div>

{%endblock%}